// 断点类型
$bp-xs: 						350px;
$bp-sm: 						576px;
$bp-md: 						768px;
$bp-lg: 						992px;
$bp-xl: 						1200px;

// 层级 
$zindex-mask:					10;
$zindex-fixed: 					100;
$zindex-modal: 					1000;
$zindex-popover: 				100;


// 主题色
$primary-color:                 #bbe6d6;
$transparent: 					rgba(255,255,255,0);
$half-dark: 					rgba(0,0,0,.5);

// 链接颜色
$link-color: 					$primary-color;
$link-hover-color: 				#0b6462;
$link-active-color:				#0b6462;

// 字体颜色 
$font-title-color: 				#333;   	// 标题
$font-content-color:			#666;   	// 正文
$font-sub-color: 				#ccc;  		// 辅助色
$font-auxiliary-color:			#999;		// 辅助性文字颜色
$font-pagination-color:			#010101; 	// 分页器

// 边框颜色
$border-color: 					#999;

// 背景色
$footer-bg: 					#161a1f;
$header-bg: 					$transparent;
$header-scroll-bg: 				#101317;
$main-bg:						#161a1f;
$black-card-bg: 				#1c232a;
$custom-value-bg: 				rgba(7,144,135,.05);

// 菜单
$menu-gradient-center: 			#1f2226;
$menu-gradient-edge: 			#0f1216; 

// 面包屑
$bread-color: 					#999;

// 阴影
$header-shadow:					0px 2px 10px 0px rgba(0, 0, 0, 0.5);
$card-shadow:					0 3px 24px 0 rgba(255,255,255,0.15);
$btn-shadow:					0px 10px 30px 0px rgba(79,82,98,0.21);

// 字体 
$font-size-base: 				1rem;

$h1-font-size:					24px;
$h2-font-size:					20px;
$h3-font-size:					18px;
$h4-font-size: 					16px;
$h5-font-size: 					14px;
$h6-font-size:                	12px;

$btn-font-size:					14px;
$footer-font-size:				14px;

// $icon-list: menu,
// home-active;